version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: gadgetgrid-redis
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis-data:/data

  app:
    build: .
    container_name: gadgetgrid-api
    ports:
      - "5000:3000"
    env_file: .env.prod
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PORT=5000
    depends_on:
      - redis
    command: npm run start:prod # override for hot-reload

volumes:
  redis-data:
